*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100dvh;
}
header{
    display: grid;
    place-content: center;
    padding: 1rem;
}
nav{
    padding: 1rem;
    padding-left: 2rem;
    box-shadow: 0px 2px 4px lightgray;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
nav a{
    text-decoration: none;
    color: black;
}
.aktiv_sida{
    text-decoration:underline;
    color: orange;
}