*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100dvh;
}
header{
    display: grid;
    place-content: center;
    padding: 1rem;
}
nav{
    padding: 1rem;
    padding-left: 2rem;
    box-shadow: 0px 2px 4px lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
nav a{
    text-decoration: none;
    color: black;
}
.aktiv_sida{
    text-decoration:underline;
    color: orange;
}
.glaze{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding: 1rem;
    display: grid;
    place-content: center;
    background: lightgray;
    width: 500px;
    height: 100%;
    border-radius: 1rem;
    outline: solid 1px #000;
}
.glaze section{
    text-align: center;
    font-size: 26px;
}
.info{
    display: grid;
    place-content: center;
    padding: 1rem;
    text-align: center;
}
.info section p{
    margin-bottom: 0.3rem;
    font-size: 18px;
}
.personal_info {
    height: 100%;
    display: grid;
    gap: 1.5rem;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    min-height: calc(100dvh - 120px);
}
.personal_info section{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 230px;
  background: lightgray;
  outline: solid 1px #000;
  border-radius: 0.5rem;
}
.personal_info section p{
    text-align: center;
    background: #bebebe;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.personal_info section img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 880px) {
  .personal_info {
    display: grid;
    gap: 1.5rem;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, auto);
  }
    .glaze{
    width: 700px;
    }
  nav{
    justify-content: left;
  }
}

footer{
    box-shadow: 4px 0px 6px lightgray;
    display: grid;
    place-content: center;
    padding: 1rem;
    margin-top: 1rem;
}
footer p{
    text-align: center ;
}
