*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100dvh;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}
nav{
    padding: 1rem;
    padding-left: 2rem;
    box-shadow: 0px 2px 4px lightgray;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
nav a{
    text-decoration: none;
    color: black;
}
.aktiv_sida{
    text-decoration:underline;
    color: blue;
}
.skaparyta{
    min-height: 450px;
    padding-top: 1rem;
}
.yta1{
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding: 1rem;
    display: grid;
    place-content: center;
}
.text_yta1{
    height: 100%;
    width: 100%;
    padding-bottom: 2rem;
    text-align: center;
}
.text_yta1 h1{
    font-size: 44px;
}
.yta1 img{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}
.yta2{
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.text_yta2{
    min-width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center; 
    padding-top: 2rem; 
}
.text_yta2 p{
    font-size: 18px;
}
.bilder_växlar{
    margin-left: auto;
    margin-right: auto;    
    display: grid;
    grid-auto-rows:min-max(200px, 1fr);
}
.bilder_växlar img{
    width: 100%;
    height: 100%;
}
footer{
    box-shadow: 4px 0px 6px lightgray;
    display: grid;
    place-content: center;
    padding: 1rem;
}
footer p{
    text-align: center ;
}


@media screen and (min-width:400px){
  .bilder_växlar{
    grid-template-columns:repeat(1, 1fr);
    overflow-y: scroll;
    max-height: 300px;
  }
  .yta2{
    flex-direction: column;
  }
  nav{
    justify-content: center;
  }
}
@media screen and (min-width:600px){
  .bilder_växlar{
    grid-template-columns:repeat(1, 1fr);
    max-height: 100%;
    max-height: 300px;
  }
  .yta2{
    flex-direction: row;
  }
  nav{
    justify-content: left;
  }
}
@media screen and (min-width:1000px){
  .bilder_växlar{
    grid-template-columns:repeat(2, 1fr);
    overflow: hidden;
  }
  .yta2{
    flex-direction: row;
  }
  nav{
    justify-content: left;
  }
}
